<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="selenium">

<!--    <test name="ChromeTest">-->
<!--        <parameter name="browser" value="chrome"/>-->
<!--        <packages>-->
<!--            <package name="com.academy.automationpractice.*"/>-->
<!--            <package name="com.academy.selenide.*"/>-->
<!--        </packages>-->
<!--    </test>-->

    <test name="Mobile create">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.academy.selenide.MobileTests" />
        </classes>
    </test>


    <test name="login">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.academy.automationpractice.IncorrectLoginTests" />
        </classes>
    </test>

<!--    <test name="mixed">-->
<!--        <parameter name="browser" value="firefox"/>-->
<!--        <classes>-->
<!--            <class name="com.academy.automationpractice.MixedTests" />-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="categorywomen">-->
<!--        <parameter name="browser" value="firefox"/>-->
<!--        <classes>-->
<!--            <class name="com.academy.automationpractice.CategoryWomen" />-->
<!--        </classes>-->
<!--    </test>-->

</suite>